@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.card-section {
    @apply  min-h-[calc(100vh-68px)]  py-4 flex flex-col items-center justify-center;
    box-sizing: border-box;
}

.card {
    @apply ml-4 mr-4 rounded-lg border shadow-lg
    border-neutral-300 dark:border-neutral-600  shadow-neutral-400 dark:shadow-neutral-200/30;
    max-width: 466px;
}

.card-header {
    @apply p-6 pt-0 break-words text-justify;
}

.card-user-photo {
    @apply flex h-12 w-12 shrink-0 overflow-hidden rounded-full;
}
.card-user-photo img {
    @apply aspect-square h-full w-full;
}

.card-user-info {
    @apply mr-auto flex flex-col min-w-25;
}
.card-user-info h2 {
    @apply text-2xl font-semibold leading-none tracking-tight;
}
.card-user-info h3 {
    @apply text-sm;
}

.card-languages {
    @apply ml-auto flex flex-wrap max-w-[200px] gap-1;
}
.card-languages div {
    @apply px-2.5 py-0.5 shadow-sm items-center justify-center rounded-full text-xs font-semibold flex gap-1 hover:cursor-pointer
    text-neutral-200;
}
.card-languages div svg {
    @apply w-4 fill-white;
}

.card-description {
    @apply p-6 pt-0 wrap-break-word text-justify;
}

.card-main-social {
    @apply p-6 pt-0 flex flex-col gap-2;
}
.card-main-social a > div {
    @apply w-full rounded-lg border border-black/20 dark:border-white/20 p-4 hover:border-1 hover:border-black/40 dark:hover:border-white/40 hover:bg-neutral-950/5 dark:hover:bg-neutral-50/5 cursor-pointer;
}
.card-main-social a div h5 {
    @apply mb-1 font-medium leading-none tracking-tight flex gap-2;
}
.card-main-social a div h5 svg {
    @apply pb-1.5 fill-black dark:fill-white;
}
/*
.card-main-social a div h5 p {
    @apply text-neutral-700 dark:text-neutral-200;
}
*/
.card-main-social a div div {
    @apply flex align-baseline items-center gap-2;
}
.card-main-social a div div p {
    @apply text-xs ;
}
.card-main-social .discord-link > div {
    @apply border-none bg-indigo-500 dark:bg-indigo-600 hover:bg-indigo-500 hover:dark:bg-indigo-600;
}
.card-main-social .discord-link > div h5 svg {
    @apply fill-white dark:fill-white;
}
.card-main-social .discord-link > div h5 p {
    @apply text-white;
}
.card-main-social .discord-link > div p {
    @apply text-white;
}


.card-social {
    @apply flex items-center justify-center pb-6 gap-5;
}
.card-social a {
    @apply w-6 aspect-square  flex-col items-center justify-center;
}
.card-social a div {
    @apply w-full h-[3px] rounded-full
    bg-neutral-700 dark:bg-neutral-200;
    transform: translateX(-50%) scaleX(0);
}
.card-social a:hover div {
    transform: translateX(0) scaleX(100%);
}
.card-social a svg {
    @apply dark:hover:stroke-white;
}

@media (max-width: 500px) {
    .card-user-info h2 {
        @apply text-sm;
    }
}
/*
@media (max-width: 415px) or (max-height: 700px) {
    .card {
        @apply mt-20;
    }
}