@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
    body {
        @apply bg-neutral-100 text-neutral-700;
    }
    html.dark body {
        @apply bg-neutral-900 text-neutral-300;
    }

    nav {
        @apply bg-neutral-100 shadow-md shadow-neutral-400;
    }
    html.dark nav {
        @apply bg-neutral-900 border-r border-l border-neutral-600 shadow-neutral-600;
    }
}

nav {
    left: 50%;
    transform: translateX(-50%);
}

.darkmode-input {
    display: none;
}

.darkmode-label {
    width: 68px;
    height: 34px;
    cursor: pointer;
    overflow: hidden;
}

.darkmode-toggle-circle {
    width: 30px;
    height: 30px;
    top: 2px;
    left: 3px;
    overflow: hidden;
    transition: 0.3s ease;
}

.darkmode-toggle-svg {
    width: 28px;
    position: absolute;
}

.darkmode-toggle-sun {
    margin-top: 0%;
    transition: 0.3s ease;
}

.darkmode-toggle-moon {
    width: 24px;
    margin-top: -180%;
    transition: 0.3s ease;
}

.darkmode-label {
    position: relative;
    display: inline-block;
}

.darkmode-input:checked + label .darkmode-toggle-circle {
    left: 34px;
}

.darkmode-input:checked + label .darkmode-toggle-circle .darkmode-toggle-sun {
    margin-top: 180%;
}

.darkmode-input:checked + label .darkmode-toggle-circle .darkmode-toggle-moon {
    margin-top: 0%;
}

.card {
    max-width: 464px;
}